.navbar {
    background-color: black;
    height: 40px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center ;
    transition: background-color 0.5s linear;
}

.path {
    color: white;
    text-decoration: none;
    pointer-events: auto;
    font-size: 20px;
    padding: 5px 10px;
    border-bottom: 0px solid;
    transition: font-size 0.233s linear;
}

.path:hover {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar:hover {
    background-color: white;
    border: 4px solid black;
}

.active{
    color: red;
}